[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
black = "*"
pylint = "*"
pytest = "*"

[packages]
thoth-python = "*"
thoth-storages = "*"
aiomonitor = "*"
prometheus-client = "<0.7.0"
thoth-messaging = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
