[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
thoth-python = "*"
thoth-storages = "*"
faust = "*"
aiomonitor = "*"
prometheus-client = "<0.7.0"
thoth-sourcemanagement = "*"
thoth-messaging = "*"

[requires]
python_version = "3.6"
