[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
thoth-python = "*"
thoth-storages = "*"
faust = "*"
prometheus-client = "*"

[requires]
python_version = "3.6"
